<div class="page">

  <div class="item">
    <h3>If you and a friend like each other's bio, you'll see them listed here:</h3>
  </div>
  <div class="item" *ngFor="let friend of friends">
    <img src={{friend.image_url}} />
    <p>Contact:{{friend.contact_info}}</p>
    <p>Their bio:{{friend.bio}}</p>
  </div>

  <div class="container">
    <a class="item" href="/profile">PROFILE</a><br>
    <a class="item" href="/interactions">INTERACTIONS</a><br>
    <a class="item" href="/view">CONTEMPORARIES</a>
  </div>
  
</div>
