<h4 style="text-align: center;">Choose "like" or "pass" to move to the next reading!

  <a (click)="logout()" href="#" style="float:right;"> Log out </a>

</h4>

<div style="background-color: grey;border-radius: 30px;padding: 25px;text-align:center;" >
  <div>
  <p style="text-align:left;">{{user.bio}}</p>
  <button (click)="likeReaction(user.id)">Like</button>
  <button (click)="passReaction()">Pass</button>
  </div>
</div>

<a href="http://localhost:4200/profile">To profile</a><br>
<a href="http://localhost:4200/interactions">See interactions you've made</a><br>
<a href="http://localhost:4200/friends">See friends you've made</a>
