<div class="page">

  <div class="test container">


    <div class="nav container">
      <div class="item">
        <a href="http://localhost:4200/profile"><h2>PROFILE</h2></a>
      </div>
      <div class="item">
        <a href="http://localhost:4200/interactions"><h2>INTERACTIONS</h2></a>
      </div>
      <div class="item">
        <a href="http://localhost:4200/friends"><h2>LIKED YOU BACK</h2></a>
      </div>

    </div>

    <div class="view container">
      <div class="instructions item">
        <h4>Choose "like" or "pass" to move to the next reading!</h4>
      </div>

      <div class="bio item">
        <p>{{user.bio}}</p>
      </div>

      <div class="like item">
        <button (click)="likeReaction(user.id)">Like</button>
        <button (click)="passReaction()">Pass</button>
      </div>

    </div>

  </div>

</div>
