<div class='page'>

  <div class="registration">
    <h1 class='title'>REGISTER</h1>
    <input [(ngModel)]="user.display_name" placeholder="Display Name"/><br>
    <input [(ngModel)]="user.email" placeholder="Email"/><br>
    <input [(ngModel)]="user.password" placeholder="Password" type="password"/><br>
    <input [(ngModel)]="user.contact_info" placeholder="How you want to connect:" style="width:200px;"/><br>
    <input [(ngModel)]="user.photo_url" placeholder="Photo URL"/>
    <br>
    <textarea [(ngModel)]="user.bio" placeholder="Your writing sample:" rows=6 cols=75></textarea><br>
    <button (click)="postRegister()">Submit</button>
  </div>

</div>
