<div class="page">


  <button (click)="logout()" style="float: right;">Log out</button>

  <div class="">
    <div class="index item">
    <a href='/view'><h2>CONTEMPORARIES</h2></a>
    </div>
    <div class="item">
      <a href="/interactions"><h2>HISTORY</h2></a>
    </div>
    <div class="item">
      <a href="/friends"><h2>FRIENDS</h2></a>
    </div>
  </div>

  <div class="">
    <div class="profile item">
      <div><h2 class="item">Profile</h2></div>
    </div>

    <div class="bio item">
      <h3>Your writing sample:</h3>
      <h4>{{user.bio}}</h4>
      <form>
        <button (click)="editBio()">Edit</button>
      </form>
    </div>

    <div class="display_name item">
      <h3>{{user.display_name}}</h3>
      <form>
        <button (click)="editName()">Change display name?</button>
      </form>
    </div>

    <div class="email item">
      <h3>{{user.email}}</h3>
      <sub>Use a different email?</sub>
      <form>
        <button (click)="editEmail()">Change</button>
      </form>
    </div>


    <div class="password item">
      <h3> Change Password</h3>
        <input placeholder='current password'/>
        <input placeholder='new password'/>
        <input placeholder='confirm new password' />
        <form>
          <button (click)="changePassword()">Submit</button>
        </form>
    </div>


    <div class="pic item">
      <h3>Photo</h3>
      <img src="{{user.image_url}}" alt="Profile Picture"/>
      <form>
        <button (click)="editPic()">Edit</button>
      </form>
    </div>


    <div class="contact item">
      <h3>Contact info:</h3>
      <p>{{user.contact_info}}</p>
      <form>
        <button (click)="editContact()">Edit</button>
      </form>
    </div>


  </div>


</div>
