<h2>Profile
  <button style="float: right;">Log out</button>
</h2>

<h3>Email: {{user.email}}</h3>
<button (click)="editEmail()">Edit</button>
<br>
<h3> Change Password <br>
  <input placeholder='current password'/><br>
  <input placeholder='new password'/><br>
  <input placeholder='confirm new password' /><br>
  <button (click)="changePassword()">Submit</button>
</h3>
<h3> Your profile picture: </h3>
<img src="{{user.image_url}}" />
<button (click)="editPic()">Edit</button>
<!-- <button type="upload">Change Photo</button> -->

<h3>Contact info:{{user.contact_info}}</h3>
<button (click)="editContact()">Edit</button>
<h3>Your bio:</h3>
<h4>{{user.bio}}</h4>
<button (click)="editBio()">Edit</button>
