<h2>Profile
  <button (click)="logout()" style="float: right;">Log out</button>
</h2>

<a href='http://localhost:4200/view'>See someone's 1000</a> <br>

<a href="http://localhost:4200/interactions">Your Interactions</a>

<h3>Email: {{user.email}}</h3>
<button (click)="editEmail()">Edit</button>
<br>
<h3> Change Password <br>
  <input placeholder='current password'/><br>
  <input placeholder='new password'/><br>
  <input placeholder='confirm new password' /><br>
  <button (click)="changePassword()">Submit</button>
</h3>
<h3> Your profile picture: </h3>
<img src={{user.image_url}} alt="Profile Picture"/>
<br>
<button (click)="editPic()">Edit</button>
<!-- <button type="upload">Change Photo</button> -->

<h3>Contact info:</h3>
<p>{{user.contact_info}}</p>
<button (click)="editContact()">Edit</button>
<h3>Your bio:</h3>
<h4 class="bio">{{user.bio}}</h4>
<button (click)="editBio()">Edit</button>
