
<div class="page">

  <div class="main">

    <div class="top item">

      <h1 id="title">1000 Words</h1>
      <br>
      <h3 id="motto">where writers exchange words and connect to other writers, <br> sharing their inner voices to find deeper connection on the web.</h3>

    </div>

    <div class="login item">

      <input class="field" [(ngModel)]="user.email" placeholder="Email"/><br>
      <input class="field" [(ngModel)]="user.password" placeholder="Password" type="password" /><br>
      <button class="field button" (click)="login()">Login</button>

      <a id="register" href='/register'>Register</a>
    </div>

  </div>




</div>
